@charset "UTF-8";
/*/
Phoenix2
===
Project Lead: Prof. Martin-Dietrich Glessgen, University of Zurich
Code by: Samuel Laeubli, University of Zurich
Contact: samuel.laeubli@uzh.ch
===
File: content.css
Description:
Basic CSS descriptions for content format.
---
/*/

/* basic fonts */

body {
	font-family: "OpenSansRegular", Verdana, Geneva, sans-serif;
}

a, a:link, a:active, a:visited {
	text-decoration: none;
	font-weight: normal;
	color: #000;
}

p {
	font-size: 130%;
	line-height: 1.2 !important;
}

h3 {
	font-size: 200%;
	margin: 0 0 10px 0;
}

h4 {
	font-family: "OpenSansSemibold", Verdana, Geneva, sans-serif;
	font-size: 130%;
	margin: 0 0 8px 0;
}

h3 + h4 {
	margin-left: 1px;
}

.bold {
	font-family: "OpenSansSemibold", Verdana, Geneva, sans-serif;
}

.hidden {
	display: none;
}

.invisible {
	display: none !important;
}

ul.listing {
	font-size: 130%;
	margin-left: 10px;
	line-height: 1.2;
}

/* code */
code.xml {
	font-family: "Courier New", Courier, monospace;
	font-size: 130%;
}

/* TABLE */
table {
	font-size: 130%;
	width: 100%;
	line-height: 1.4;
	margin-bottom: 6px;
}

fieldset table {
	font-size: 100% !important;
}

table thead {
	font-family: "OpenSansSemibold", Verdana, Geneva, sans-serif;
	line-height: 2;
}

table td {
	padding: 0 3px 0 0;
}

table.topalign tbody td {
	vertical-align: top;
	padding-top: 8px;
	padding-bottom: 8px;
	border-top: 1px solid #EBEBEB;
}

table.midalign tbody td {
	vertical-align: middle;
	padding-top: 8px;
	padding-bottom: 8px;
}


table td.bold {
	font-family: "OpenSansSemibold", Verdana, Geneva, sans-serif;
}

table td.leftalign {
	text-align: left;
}

table.hoverable tbody tr:hover {
	background-color: #FFF;
}

table.hoverable tbody tr:hover td {
	border-top: 1px solid #CCC;
}

table.selectable tbody tr:hover {
	background-color: #e8ebeb;
	cursor: default;
}

table.selectable tbody tr.selected {
	background-color: #dfe5e6;
	text-decoration: underline;
	color: #22314e;
}

table.hoverable2 tbody tr:hover {
	background-color: #e8ebeb;
}

table a {
	color: #22314e !important;
}

table a:hover {
	border-bottom: 1px dotted #22314e;
}

table.layout_fields {
	font-size: 100%;
}

/* FORM */
form {
	
}

form p {
	font-size: 100%;
	margin-bottom: 6px;
}

form fieldset {
	padding: 6px 0 16px 0;
	font-size: 130%;
	line-height: 1.4;
}

form fieldset table {
	font-size: 100%;
	line-height: 1;
	padding-bottom: 0;
}

form fieldset legend {
	font-family: "OpenSansSemibold", Verdana, Geneva, sans-serif;
}

form fieldset legend a{
	font-family: "OpenSansRegular", Verdana, Geneva, sans-serif;
	color: #069 !important;
}

form fieldset .select_all {
	margin-bottom: 6px;
}

form fieldset .button {
	font-size: 85% !important;
}

form fieldset .combobox {
	margin-bottom: 6px
}

form label {
	font-size: 90%;
	display: block;
	margin-bottom: -1px;
	padding-left: 1px;
}

form label.inline {
	display: inline;
	padding-left: 0px;
	padding-right: 4px;
}

form label.inline.above {
	display: inline-block;
	position: absolute;
	margin-top: -16px;
}

form input.text {
	border: 1px solid #CCC;
	margin: 0 10px 10px 0;
	padding-left: 3px;
	height: 16px;
	float: none !important;
}

input.invalid, textarea.invalid, select.invalid {
	background: #FCC !important;
}

p.invalid {
	color: #C00;
	font-weight: bold;
}


form textarea {
	border: 1px solid #CCC;
	margin: 0 10px 10px 0;
	padding: 3px;
	height: 40px;
	font-family: "OpenSansRegular", Verdana, Geneva, sans-serif;
	font-size: 100%;
}

form fieldset select {
	margin: 0 10px 10px 0;
}

form input.text.bigger {
	font-size: 90%;
	height: 18px;
}

form input.button, .button {
	font-size: 110%;
	text-align: left;
	width: auto;
	padding: 2px 4px 4px 4px;
	height: 22px;
	border: 1px solid #CCC;
	margin-right: 4px;
	cursor: pointer;
	background: #EBEBEB;
	/* rounded edges */
	-webkit-border-radius: 3px;
  	-moz-border-radius: 3px;
  	border-radius: 3px;
	
}

form input.button:hover, .button:hover {
	background: #FAFAFA;
}

form input[disabled].button:hover {
	background: #EBEBEB;
	cursor: help;
}


input.inline_textfield {
	height: 8px;
}

input.tiny,   textarea.tiny  { width: 50px; }
input.small,  textarea.small { width: 100px; }
input.small-normal, textarea.small-normal { width: 150px; }
input.normal, textarea.normal{ width: 200px; }
input.big,	  textarea.big   { width: 300px; }

input.w15,  textarea.w15     { width: 15%; }
input.w25,  textarea.w25     { width: 25%; }
input.w33,  textarea.w33     { width: 33%; }
input.w40,  textarea.w40     { width: 40%; }
input.w50,  textarea.w50     { width: 50%; }
input.w98,	textarea.w98 	 { width: 98%; }
input.w100, textarea.w100    { width: 100%; }

/* hybrid text fields: used to display AND change information. can be placed outside a form element */

input.hybrid, textarea.hybrid {
	background: none;
	border: 1px dotted #CCC;
	padding: 1px;
}

input.hybrid:hover, input.hybrid:focus, textarea.hybrid:hover, textarea.hybrid:focus {
	background: #FFF;
	border: 1px solid #CCC;
}

input.hybrid.textordernumber {
	width: 32px;
	height: 14px;
	text-align: right;
}

/* SPECIAL TEXT */

a.tooltipp {
	border-bottom: 1px dashed #C1C1C1;
	cursor: help;
}

a.disabled {
	color: #999 !important;
	cursor: not-allowed;
}

a.disabled:hover {
	background-color: transparent !important;
	color: #999 !important;
}

a.sort {
	border-bottom: 1px dashed #C1C1C1;
	cursor: s-resize;
}

a.description {
	cursor: default;
}

a.description:after {
	content: '+';
	font-size: 20%;
	vertical-align: super;
	color: #666;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
}

a.icon {
	display: block;
	height: 16px;
	width: 16px;
	background-image: url(../jquery-ui/images/ui-icons_acbdd0_256x240.png);
}

a.icon.inline {
	float: left;
	margin-right: 3px;
}

a.icon.inline.right {
	margin-left: 3px;
}

a.icon:hover {
	text-decoration: none;
	border: none;
	background-image: url(../jquery-ui/images/ui-icons_22314e_256x240.png);
}

a.icon:hover div {
	
}

a.plus.icon      { background-position: 0 -192px; }
a.ok.icon 	     { background-position: -208px -192px; }
a.delete.icon    { background-position: -96px -126px; }
a.file.icon	     { background-position: -32px -96px; }
a.download.icon  { background-position: -224px -32px; }
a.abc.icon  { background-position: -112px -80px; }
a.def.icon   { background-position: -112px -96px; }
a.checkout-full-data.icon   { background-position: -224px -48px; }

a.icon div {
	padding-top: 3px;
	margin-left: 18px;
	font-size: 120%;
	width: 200px;
}

.modulebox .title a.tooltipp {
	border-bottom: none;
}

.modulebox .title a.tooltipp:after {
	content: 'i';
	font-size: 50%;
	vertical-align: top;
	margin: 0 0 0 2px;
	color: #22314e;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
}

div.indent {
	margin-left: 23px;
}


/* SPECIFIC MODULES */
/* **************** */

/* TOP */
#top {
	color: #999;
}

#top span {
	display: block;
	padding: 1px 10px 0px 11px;
	line-height: 1.4;
}

#top a {
	color: #CCC;
}

#top a:hover {
	color: #FAFAFA;
}

a#header_show {
	position: absolute;
	bottom: -9px;
	right: 10px;
	z-index: 11;
	display: block;
	background: url(../../../ressources/img/arrow_showhide_down.png);
	height: 10px;
	width: 10px;
}

/* HEADER */
#header h1, #login_header h1 {
	font-family: "ColaborateRegular", Verdana, Geneva, sans-serif;
	font-size: 400%;
}

#header h2, #login_header h2 {
	font-family: "OpenSansLight", Verdana, Geneva, sans-serif;
	font-size: 145%;
	margin-left: 3px;
}

#login_header h1 {
	text-align: center;
	padding-top: 80px;
}

#login_header h2 {
	text-align: center;
	margin: 0;
}

#login_box p#loginmessage {
	margin-bottom: 10px;
	padding: 12px;
	border: 1px dotted #acbdd0;
}


a#header_hide {
	position: absolute;
	bottom: 0;
	right: 10px;
	display: block;
	background: url(../../../ressources/img/arrow_showhide_up.png);
	height: 10px;
	width: 10px;
}

/* STATUS */
#mod_status span {
	display: block;
	padding: 1px 10px 3px 10px;
	line-height: 1.4;
}

#mod_status span.status1 { background: #d7eb9c; }
#mod_status span.status2 { background: #ffc; }
#mod_status span.status3 { background: #f5bace; }
#mod_status span.status4 { background: #c90044; }

#loading {
	/*background-image: url(../images/overlay.png);*/
	font-size: 150%;
	background: url(../../../ressources/img/loading_back.png) repeat;
	text-align: center;
	top: 0;
	padding-top: 50px;
	width: 100%;
	height: 100%;
	margin: 0px;
	position: fixed;
	z-index: 20;
}
.ui-menu-item{
	font-size: 14px !important;
}